/* Tricks
---------------------------------------*/
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

/* Layout
---------------------------------------*/
.col-left,
.col-right {
     padding:0.625rem 0.625rem 0;
}

/* Buttons
---------------------------------------*/
.btn-action {
    display:block;
    width:100%;
    margin-bottom: 0.3125rem;
    border:0;
    font-size:87.5%;
    font-weight: bold;
    text-align: center;
    line-height: 1rem;
    font-family: Arial, Verdana, sans-serif;
}
.btn-grey {
    background-color:dimgrey;
    background-image:none;
    color:#FFF;
}

/* Main Header
---------------------------------------*/
.main-header {
    padding:0.625rem 0.625rem 0.3125rem;
    background-color: cornflowerblue;
}
.main-header-title,
.main-header-desc {
    color:#FFF;
    margin-bottom: 0.3125rem;
}
.main-header-title {
    font:normal 112.5% Arial, Verdana, sans-serif;
}
.main-header-desc {
    font:normal 75% Arial, Verdana, sans-serif;
    padding-bottom: 0.1875rem;
    border-bottom: 0.1875rem solid floralwhite;
}

/* Article Section
---------------------------------------*/
.article-section,
.article-section-title,
.article-section .picture-container,
.article-section .text {
    margin-bottom:0.625rem;
}
.article-section-title {
    padding-bottom: 0.3125rem;
    border-bottom: 1px solid #dcdcdc;
    font-weight: bold;
    font-size: 125%;
    color: #1E1E1E;
}
.article-section .picture {
    display:block;
    width: 100%;
    height:auto;
}
.article-section .legend {
    padding:0.5rem;
    color:#FFF;
    font-size:75%;
    line-height: 1.2;
    background-color:#111;
}
.article-section .text {
    font-size:87.5%;
    color:#404040;
    line-height: 1.3;
}
.article-section .title {
    font-size:100%;
}

/* Share Section
---------------------------------------*/
.share-section {
    overflow: hidden;
    border:2px solid darkgray;
    padding:0.625rem 0.625rem 0.3125rem;
    margin-bottom:0.625rem;
}

/* Most Popular
---------------------------------------*/
.most-popular {
    margin:0;
    padding:0;
    counter-reset: most-popular;
}
.most-popular .item {
    list-style-type: none;
    font-size:100%;
    color:#1A1A1A;
    border-bottom: 1px solid #DFDFDF;
}
.most-popular .title {
    font-size:125%;
    padding:0.625rem 0;
}
.most-popular .link {
    position: relative;
    display: block;
    color:inherit;
    padding:0.625rem 0 0.625rem 2rem;
    text-decoration: none;
    counter-increment: most-popular;
}
.most-popular .link:before {
    position: absolute;
    content: counter(most-popular);
    left:0;
    top:50%;
    -webkit-transform:translate(0,-50%);
            transform:translate(0,-50%);
    margin-top: 1px;
    color: #cc0101;
    font-weight: bold;
    font-size: 125%;
}
.most-popular .link:hover {
    text-decoration: underline;
}

/* Medium Viewport
---------------------------------------*/
@media all and (min-width:43.75em) and (max-width:49.9375em){

    /* Article Section
    ---------------------------------------*/
    .article-section .texts-container {
        float:right;
        width:70%;
        margin-right: 0.625rem;
    }

}

/* Large Viewport
---------------------------------------*/
@media all and (min-width:50em){
    
    /* Main Header
    ---------------------------------------*/
    .main-header-title {
        font-size:150%;
    }
    .main-header-desc {
        font-size:125%;
    }

    /* Layout
    ---------------------------------------*/
    .page-wrap {
        max-width: 65rem;
    }
    .main-container {
        padding-right: 18.75rem;
    }
    .col-left {
        float:left;
    }
    .col-right {
        float:right;
        width:18.75rem;
    }

}